*,*::after,*::before{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
body{
    margin: 0%;
    padding: 0%;
    background: #3498db;

}
.calc-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: minmax(120px,auto) repeat(5,80px);
        /* grid-template-columns: repeat(4,25%);
    grid-template-rows: minmax(120px,auto) repeat(5,15%); */

}
.calc-grid>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #ffffff;
    outline: none;
    background-color:rgba(255, 255, 255, 0.75) ;
}
.calc-grid>button:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two{
    grid-column: span 2;
}
.result{
    grid-column: 1/-1;
    background-color: rgba(0, 0,0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.75);
}
.result .prev-operand{
    color: rgba(255, 255, 255, 0.75);
 font-size: 1.5rem;
}
.result .curr-operand{
    color: #ffffff;
    font-size: 1.5rem;
        
    }
 @media screen  and (max-width:480px){

 
    .calc-grid{

            grid-template-columns: repeat(4,25%);
        grid-template-rows: minmax(25%,auto) repeat(5,15%);
    
    }
    
     
 }